*{
    --background-color: #ec711c;
    --text-color: #fff;
    --text-color-2: #000;
}

@font-face {
    display: swap;
    font-style: normal;
    font-family: "Noto Sans Arabic";
    font-weight: 100 900;
    src: url("../fonts/NotoSansArabic.ttf") format("truetype");
}

@font-face {
    display: swap;
    font-style: normal;
    font-family: "Inter";
    font-weight: 100 900;
    src: url("../fonts/Inter.ttf") format("truetype");
}

body {
    --tblr-font-serif: "Inter", "Noto Sans Arabic", serif;
    --tblr-font-sans-serif: "Inter", "Noto Sans Arabic", sans-serif;
    --tblr-body-font-family: var(--tblr-font-sans-serif);

    font-feature-settings: "cv03", "cv04", "cv11";
    overflow-y: auto;
}
aside *{
    color: var(--text-color) !important;
}
.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tblr-body-bg);
    z-index: 9999;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type="time"] {
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 150px;
    text-align: center;
    outline: none;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Hover and focus styles */
input[type="time"]:hover {
    border-color: #888;
}

input[type="time"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Remove spin buttons in WebKit browsers */
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Adjust the color of the time picker dropdown button */
input[type="time"]::-webkit-calendar-picker-indicator {
    background: #007bff32;
    padding: 5px;
    border-radius: 50%;
}

.dots-loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto
}

.dots-loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(241, 83, 110, 0.8);
    margin: 35px 5px
}

.dots-loader span:nth-child(1) {
    animation: bounce 1s ease-in-out infinite
}

.dots-loader span:nth-child(2) {
    animation: bounce 1s ease-in-out 0.33s infinite
}

.dots-loader span:nth-child(3) {
    animation: bounce 1s ease-in-out 0.66s infinite
}

/* uploaded image  for menu */
.image-uploader .uploaded-image img , .image-uploader .uploaded-image i {
    border: 2px solid var(--background-color);
    border-radius: 10px;
}

.image-uploader {
    border: 0;
    background: transparent;
}

.image-uploader .uploaded .uploaded-image.add i {
    font-size: 3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    cursor: pointer;
}

.image-uploader .uploaded-image i.ti-circle-plus:before {
    display: block;
    text-align: center;
    margin-top: 25%;
}

.controls > div > a :focus
{
    text-decoration: none;
}
.controls > div > a {
    text-decoration: none;
    color: var(--text-color-2);
}
.controls > div{
    padding: 5px;
    background-color: var(--background-color);
    color: var(--text-color-2);
    font-weight: bold;
    font-size: 12px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;

}
@keyframes bounce {

    0%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}